.containerinicio{
    max-width: 1080px;
    display: flex;
    margin: 6rem auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

.texto{
    flex: 0 0 35%;
    text-align: left; 

 h3{
   font-size: 1.563rem;
 }

 h4{
   font-size: 1.25rem;

 }

 h1{
   font-size: 2.441rem;
 }
}

.imagem{
  flex: 0 0 40%;
}

.imagem img{
  width: 100%;
  height: auto;
}

.containerIntro{
  display: flex;
}
}

.tableContainer{
  padding: 0 1rem;
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 8rem;
}

.notfound{
  text-align: center;
}

@media (max-width: 720px){
 
  .containerinicio{
   flex-direction: column;
   padding: 0 1rem;
   max-width: 1080px;
   margin: 3rem auto;
   margin-bottom: 4rem;

  .texto{
    flex:  0 0 100%;
    order: 2;
   
     h3{
      font-size: 1.368rem;
     }
    
     h4{
      font-size: 1.094rem;
     }
    
     h1{
      font-size: 1.368rem;
     }
    
  }
    .imagem{
      flex: 0 0 100%;
      width: 80%;
      order:1;

    
    }
  }    
}