.charactherContainer{
    height: 80px;
    border-radius: 10px;
    background-color: var(--blue-box);
    display: flex;
    padding: 24px;
    margin-bottom: .5rem;
    
    & > div{
        flex:1;
        text-align: left;
        display: flex;
        align-items: center;
        font-size: 1.25em;
        

        img{
            height: 3.4375rem;
            width: auto;
            border-radius: 90%; 
        }
    }

}

