.charactherContainer{
    height: 80px;
    border-radius: 10px;
    background-color: var(--blue-box);
    display: flex;
    padding: 24px;
    margin-bottom: .5rem;
    
    
    & > div{
        flex: 1;
        padding-right: .1rem;
        display: flex;
        align-items: center;
        

        img{
            height: 2.5rem;
            width: auto;
            border-radius: 90%; 
        }
    }

}