.heading {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    .heading_name,
    .heading_planets,
    .heading_species{
    display: flex;
   
    justify-items: center;
    align-items: center;
}  
    .heading_name{
        text-align: right;
        margin-left: 6rem;
    }   
    
    .heading_species{
        text-align: right;
        margin-right: 2rem;
        flex: 0;
    }
     
    .heading_planets{
        text-align:center;
        margin-left: 6rem;
    }   

  
    div{
        color: var(--bleu-light);
    }
}

  @media (max-width: 720px){

    .heading{
        padding: 1px;
        margin-bottom: 1rem;
    .heading_name{
        margin-left: 5.8rem;
        font-size: 0.9rem;
    }    
    .heading_planets,
    .heading_species{
        display: none;
    }

}
  }

  

 